<h2>Bilderadmin</h2>

<table border="0" cellpadding="2" cellspacing="1" class="forumline" width="100%">
<!-- BEGIN row -->
<!-- BEGIN cell -->
<tr>
<td align="left" valign="top" class="catHead_u" width="100">Dateiname</td>
<td align="left" valign="top" class="catHead_u">Groesse</td>
<td align="left" valign="top" class="catHead_u">hochgeladen am</td>
</tr>
<tr><td align="left" valign="top" class="row1"><a href="index.php?id=26&bild_id={id}">{url}</a></td><td align="left" valign="top" class="row1">{groesse}&nbsp;k</td><td align="left" valign="top" class="row1">{datum}</td></tr><tr><td valign="top" align="right" class="row1"><img src="images/thumbnails/TN_{url}"></td><td colspan="2" valign="top" align="left" class="row1" style="font-weight:normal;background-color:#ffffff">{beschreibung}</td>
</tr>
<tr><td colspan="3" align="right" valign="top" style="background-color:#cccccc;font-weight:normal;">Maße {breite}  x {hoehe} px</td></tr>
<!-- END cell -->

<!-- END row -->
</table>
	<!-- BEGIN noposts -->
	{keine_posts}
	<!-- END noposts -->
	 <div id="browseDiv"><!-- BEGIN browse --> {VON} - {BIS} von {ALLE} Eintr&auml;gen<br>
{zurueck} {vor}{keine} <!-- END browse --> <!--BEGINN SEITEN -->  {seiten}<!-- END SEITEN -->
</div>

<br>&nbsp;
<script language="javascript" type="text/javascript">
self.focus();
</script>

