<div id="main_frame">

	<div id="main_frame_head">
		<h1>Naturmagazine verwalten</h1>
		<p>&nbsp;</p>
		<a href="index.php?id=8"><strong>Neues Magazin hochladen</strong></a>
		<p>&nbsp;</p>
	</div> 
    <div id="main_frame_body">
	   <table id="galerieadmin">
	<!-- BEGIN Menueadmin -->
	<!-- BEGIN Menueitem -->
	<tr>
	    <td> Ausgabe: <strong><a href="index.php?id=17&galerie_id={galerie_id}">{ausgabe}</a></strong></td><!--<td><a href="{scriptname}?id=14&richtung=hoch&menue_id={menue_id}"><img src="pics/uparrow_.png" alt="hoch" /></a> | <a href="{scriptname}?id=14&richtung=runter&menue_id={menue_id}"><img src="pics/downarrow_.png" alt="runter" /></a></td>--><td><a href="index.php?id=17&galerie_id={galerie_id}"> Titel: {intro} </a></td>
	</tr>
	<!-- END Menueitem -->

	<!-- END Menueadmin -->
        </table>
	</div>


</div>
