<!-- text and image -->
<!-- BEGIN TEXT   -->
<div id="img-container" style="width: {wholewidth}px;">
		

<div id="text">{intro}</div>
<!--  END TEXT -->
<!-- BEGIN row -->
<!-- BEGIN cell -->
<!-- IMAGE  -->

<div class="picture_holder" style="width: {divwidth}px;">
<div class="picture" style="width: {breite}px;">
    
<img src="images/{url}" alt="{caption}" height="{hoehe}" width="{breite}" />  


<div class="captioning">{caption}</div>
</div>
</div>

<!-- /IMAGE -->
<!-- END cell -->

<!-- <div style="clear: left;"></div> -->

</div>
<!-- END row -->
<!-- BEGIN error -->
<div id="text" style="color:#ff0000;">{fehlertext}</div>
<!-- END error -->
