<!-- BEGIN text   -->
<div id="text">
{dummy}
</div>
<!-- END text -->

<!-- #############################  -->


<h1>Impressum</h1>

<p>Natur+Text GmbH<br>
Friedensallee 21<br>
15834 Rangsdorf<br>
<br>
Telefon: 033708 / 20431<br>
Fax: 033708 / 20433<br>
E-Mail: <a href="mailto:info@naturundtext.de"><span style="color: #0000ff;"><u><span id="cloake19d4b968d4a129814906e10f0fc9fe1">Diese E-Mail-Adresse ist vor Spambots geschützt! Zur Anzeige muss JavaScript eingeschaltet sein!</span><script type='text/javascript'>
				document.getElementById('cloake19d4b968d4a129814906e10f0fc9fe1').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addye19d4b968d4a129814906e10f0fc9fe1 = '&#105;nf&#111;' + '&#64;';
				addye19d4b968d4a129814906e10f0fc9fe1 = addye19d4b968d4a129814906e10f0fc9fe1 + 'n&#97;t&#117;r&#117;ndt&#101;xt' + '&#46;' + 'd&#101;';
				var addy_texte19d4b968d4a129814906e10f0fc9fe1 = '&#105;nf&#111;' + '&#64;' + 'n&#97;t&#117;r&#117;ndt&#101;xt' + '&#46;' + 'd&#101;';document.getElementById('cloake19d4b968d4a129814906e10f0fc9fe1').innerHTML += '<a ' + path + '\'' + prefix + ':' + addye19d4b968d4a129814906e10f0fc9fe1 + '\'>'+addy_texte19d4b968d4a129814906e10f0fc9fe1+'<\/a>';
		</script></u></span></a></p>

<p>Registergericht Potsdam-Stadt HRB 4155<br>
Geschäftsführer: Dipl.-Biologe Reinhard Baier, Dipl.-Biologe Dr. Arne Hinrichsen<br>
Umsatzsteuer-IdNr.: DE 138 54 6707</p>



<h3>Haftungsausschluss</h3>
<p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen. (Quelle: www.eRecht24.de)
</p>


<h3>Urheberrecht</h3>
<p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen. (Quelle: <a href="https://www.eRecht24.de">www.eRecht24.de</a>)</p>


<h3>Streitbeilegungsverfahren</h3>

<p>Hinweis zur Online-Streitbeilegung gemäß Art. 14 Abs. 1 ODR-VO: Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit, die unter <a href="https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</a> aufzurufen ist. (Unsere E-Mail Adresse lautet: <span id="cloak9a26c01159a4be701e60919e7e0a801c">Diese E-Mail-Adresse ist vor Spambots geschützt! Zur Anzeige muss JavaScript eingeschaltet sein!</span><script type='text/javascript'>
	document.getElementById('cloak9a26c01159a4be701e60919e7e0a801c').innerHTML = '';
	var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
	var path = 'hr' + 'ef' + '=';
	var addy9a26c01159a4be701e60919e7e0a801c = '&#105;nf&#111;' + '&#64;';
	addy9a26c01159a4be701e60919e7e0a801c = addy9a26c01159a4be701e60919e7e0a801c + 'n&#97;t&#117;r&#117;ndt&#101;xt' + '&#46;' + 'd&#101;';
	var addy_text9a26c01159a4be701e60919e7e0a801c = '&#105;nf&#111;' + '&#64;' + 'n&#97;t&#117;r&#117;ndt&#101;xt' + '&#46;' + 'd&#101;';document.getElementById('cloak9a26c01159a4be701e60919e7e0a801c').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy9a26c01159a4be701e60919e7e0a801c + '\'>'+addy_text9a26c01159a4be701e60919e7e0a801c+'<\/a>';
</script>.)
<br>


Hinweis zum Streitbeilegungsverfahren<br>
Die Natur und Text GmbH nimmt nicht an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teil.</p>

