<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="projekt.css" type="text/css" media="all"/>
		<title>Home</title>
    </head>
    <body>
		<div id="container">
			<div id="header">
				<div id="header_container">
					<div id="header_grafik">
					</div>
					<!--BEGIN head -->
					<div id="header_content"><h2>Menueadmin </h2>
					{username}
					</div>
					<!-- END head -->
				<div class="clearer"></div>	
				</div>
			</div>
				<div id="left">
					<div id="menue_container">
						
						<ul id="menue">
						<!-- BEGIN Menue -->
						<li>
						<!-- BEGIN item -->
						<a href="{url}?id={id}">{text}</a>
						<!-- END item -->
						</li>
						<!-- END Menue -->
						</ul>
						
					</div>
			
					<div id="login_out"> 
					<!-- BEGIN logged_in -->
<!-- wenn der user angemeldet ist, dann bekommt er ein div angezeigt =>du bist als bla angemeldet & link zum ausloggen -->
					<div align="center" width="90%" style="border:4px solid #96B566; padding:10px 0; background-color:#333333; color:white;">
					Du bist als: <br /><span style="color:#96B566; text-decoration:underline;"> {name}</span><br />angemeldet<br /><br />
					<a href="includes/logout.php">Ausloggen</a></div>
					<!-- END logged_in -->
<!-- wenn der user nicht angemeldet ist -->

					<!-- BEGIN login_form -->
					{loginmessage}
					{fail_login}

				<br />
		<!-- loginformular -->
				{login_aufforderung}
				<form action="auth.php" method="post">
					<table>
						<tr>
							<td>Username</td>
						<tr>
						</tr>
							<td><input style="text" name="username" size="12" maxlength="12" /></td>
						</tr>
						<tr>
							<td>Passwort</td>
						<tr>
						</tr>
							<td><input type="password" name="passwd" size="12" maxlength="12" /></td>
						</tr>
					</table>
					<p><input type="submit" name="login" value="einloggen"/></p>
				</form>

					<!-- END login_form -->
					</div>
				</div>
				
		
				<div id="right">
					<div id="main_frame">
					
						<div id="main_frame_head">
							<h2>Menueelemente</h2>
						</div>
						<!-- BEGIN Menueadmin -->
						<div id="main_frame_body">
						<!-- BEGIN Menueitem -->
						<div class="main_frame_box">
						<a href="{scriptname}?id={id}&richtung=hoch">hoch</a> | <a href="{scriptname}?id={id}&richtung=runter">runter</a> | URL: {url} | LINKTEXT: <strong>{text}</strong></div>
						<!-- END Menueitem -->

						</div>
						<!-- END Menueadmin -->
						
						
				
					</div>
					
				</div>	
			<div class="clearer"></div>

		<!-- Footer -->			
			<div id="footer">
				<div id="footer_content">
					<p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/" target="blank"><img src="images/cclizenz.png" alt="Creative Commons License" title="Creative Commons License" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Der Inhalt dieser Seite steht unter einer <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/">Creative Commons Licence</a></p>
				</div> 
			</div>
		<!-- ENDE Footer -->
		</div>
	</body>
</html>

