<!-- text and image -->
<div id="img-container">
	
<!-- BEGIN content   -->
<div id="text">
    <h1><a href="{pdfurl}">Naturmagazin {ausgabe}: {titel}</a></h1>
    <div id="editorialwrapper" class="clearfix">
        <div id="editorialdiv" class="clearfix"><p id="editorial"><img src="{autorbild}" id="autorbild">{text}</p><a href="{pdfurl}" id="magazinlink">Zum Magazin</a></div>
    </div>
    <div style="clear: both;"><!-- --></div>
    <div id="magazinwrapper" class="clearfix">
        <div id="magazinbilddiv">&nbsp;</div>
        <div id="magazinlinkdiv">&nbsp;</div>
    </div>    
    
</div>
<!-- END content -->

<div style="clear: left;"><!-- --></div>

</div>

